@model ITLAssessmentWebapp.Models.AnalysisResult

<h1>Analysis Result</h1>

<p>Earliest Date: @Model.EarliestDate</p>
<p>Latest Date: @Model.LatestDate</p>
<p>Total Cost: @Model.TotalCost</p>
<p>Highest Total Cost Per Product: @Model.HighestTotalCostPerProduct</p>
<p>Average Quantity: @Model.AverageQuantity</p>
